$break-large: 1024px;

.about {
  overflow: auto;
  height: 100%;
  font-size: 16px;
}

.about_container {
  max-width: 100%;
  overflow-y: auto;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.skills {
  margin-top: 40px;
  font-weight: 600;
}

.skills_about {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 100px;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 0.5px solid rgba($color: #ffffff, $alpha: 0.3);
  padding-top: 10px;
}

.skill_icon {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 7px;
}

.hobbies {
  margin-top: 40px;
  font-weight: 600;
  font-size: 20px;
}
.hobbies_about {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 100px;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 0.5px solid rgba($color: #ffffff, $alpha: 0.3);
  padding-top: 10px;
}

.hobbies_icon {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 7px;
  font-size: 14px;
}

.social_bottom {
  bottom: 5%;
}

@media screen and (min-width: $break-large) {
  .hobbies_about {
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .about {
    font-size: 20px;
  }

  .skills_about {
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .skills {
    font-size: 20px;
  }
}
